apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-cert-manager-operator
  labels:
    app.kubernetes.io/instance: ibm-cert-manager-operator
    app.kubernetes.io/managed-by: ibm-cert-manager-operator
    app.kubernetes.io/name: cert-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-cert-manager-operator
  template:
    metadata:
      labels:
        name: ibm-cert-manager-operator
        app.kubernetes.io/instance: ibm-cert-manager-operator
        app.kubernetes.io/managed-by: ibm-cert-manager-operator
        app.kubernetes.io/name: cert-manager
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productMetric: FREE
    spec:
      serviceAccountName: ibm-cert-manager-operator
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - amd64
                - ppc64le
                - s390x
      hostIPC: false
      hostNetwork: false
      hostPID: false
      containers:
        - name: ibm-cert-manager-operator
          image: quay.io/opencloudio/ibm-cert-manager-operator:latest
          command:
          - ibm-cert-manager-operator
          args:
          - --zap-level=1
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: CONTROLLER_IMAGE_TAG_OR_SHA
              value: 0.10.7
            - name: WEBHOOK_IMAGE_TAG_OR_SHA
              value: 0.10.7
            - name: CAINJECTOR_IMAGE_TAG_OR_SHA
              value: 0.10.7
            - name: ACMESOLVER_IMAGE_TAG_OR_SHA
              value: 0.10.7
            - name: CONFIGMAP_WATCHER_IMAGE_TAG_OR_SHA
              value: 3.3.4
          resources:
            limits:
              cpu: 100m
              memory: 300Mi
            requests:
              cpu: 10m
              memory: 50Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
