apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    app.kubernetes.io/instance: ibm-cert-manager-operator
    app.kubernetes.io/managed-by: ibm-cert-manager-operator
    app.kubernetes.io/name: cert-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-cert-manager-operator
  template:
    metadata:
      labels:
        name: ibm-cert-manager-operator
        app.kubernetes.io/instance: ibm-cert-manager-operator
        app.kubernetes.io/managed-by: ibm-cert-manager-operator
        app.kubernetes.io/name: cert-manager
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productMetric: FREE
    spec:
      serviceAccountName: controller-manager
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
                - ppc64le
                - s390x
      hostIPC: false
      hostNetwork: false
      hostPID: false
      containers:
        - name: manager
          image: quay.io/bitscuit/ibm-cert-manager-operator:3.17.0
          command:
          - ibm-cert-manager-operator
          args:
          - --zap-level=1
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-cert-manager-operator"
            - name: ICP_CERT_MANAGER_CONTROLLER_IMAGE
              value: quay.io/opencloudio/icp-cert-manager-controller:1.3.0-jetstack.1.5.1
            - name: ICP_CERT_MANAGER_WEBHOOK_IMAGE
              value: quay.io/opencloudio/icp-cert-manager-webhook:1.3.0-jetstack.1.5.1
            - name: ICP_CERT_MANAGER_CAINJECTOR_IMAGE
              value: quay.io/opencloudio/icp-cert-manager-cainjector:1.3.0-jetstack.1.5.1
            - name: ICP_CERT_MANAGER_ACMESOLVER_IMAGE
              value: quay.io/opencloudio/icp-cert-manager-acmesolver:1.3.0-jetstack.1.5.1
            - name: ICP_CONFIGMAP_WATCHER_IMAGE
              value: quay.io/opencloudio/icp-configmap-watcher:3.5.0
          resources:
            limits:
              cpu: 100m
              memory: 300Mi
            requests:
              cpu: 10m
              memory: 50Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
