apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "operator.ibm.com/v1alpha1",
          "kind": "CertManager",
          "metadata": {
            "name": "default"
          },
          "spec": {
            "enableWebhook": true,
            "imageRegistry": "hyc-cloud-private-integration-docker-local.artifactory.swg-devops.com/ibmcom"
          }
        },
        {
          "apiVersion": "certmanager.k8s.io/v1alpha1",
          "kind": "Issuer",
          "metadata": {
            "name": "cs-ss-issuer",
            "namespace": "ibm-common-services"
          },
          "spec": {
            "selfSigned": {}
          }
        },
        {
          "apiVersion": "certmanager.k8s.io/v1alpha1",
          "kind": "Certificate",
          "metadata": {
            "name": "cs-ca-certificate",
            "namespace": "ibm-common-services"
          },
          "spec": {
            "secretName": "cs-ca-certificate-secret",
            "issuerRef": {
              "name": "cs-ss-issuer",
              "kind": "Issuer"
            },
            "commonName": "cs-ca-certificate",
            "isCA": true
          }
        },
        {
          "apiVersion": "certmanager.k8s.io/v1alpha1",
          "kind": "ClusterIssuer",
          "metadata": {
            "name": "cs-ca-clusterissuer"
          },
          "spec": {
            "ca": {
              "secretName": "cs-ca-certificate-secret"
            }
          }
        }
      ]
    capabilities: Basic Install
    categories: Security
    certified: "false"
    containerImage: quay.io/opencloudio/ibm-cert-manager-operator:latest
    createdAt: "2020-01-14T10:16:16Z"
    description: Operator for managing deployment of cert-manager service.
    support: IBM
  name: ibm-cert-manager-operator.v3.5.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: CertManager is the Schema for the certmanagers API
      kind: CertManager
      name: certmanagers.operator.ibm.com
      version: v1alpha1
      displayName: CertManager
      resources:
      - kind: Deployment
        name: ''
        version: v1
      - kind: ClusterRole
        name: clusterroles.rbac.authorization.k8s.io
        version: v1
      - kind: ClusterRoleBinding
        name: clusterrolebindings.rbac.authorization.k8s.io
        version: v1
      - kind: CustomResourceDefinition
        name: customresourcedefinitions.apiextensions.k8s.io
        version: v1beta1
      - kind: ServiceAccount
        name: ''
        version: v1
      - kind: ValidatingWebhookConfiguration
        name: validatingwebhookconfigurations.admissionregistration.k8s.io
        version: v1beta1
      - kind: MutatingWebhookConfiguration
        name: mutatingwebhookconfigurations.admissionregistration.k8s.io
        version: v1beta1
      - kind: Service
        name: ''
        version: v1
      - kind: APIService
        name: apiservices.apiregistration.k8s.io
        version: v1
      specDescriptors:
      - description: Enables the webhook component of cert-manager when set to true
        displayName: EnableWebhook
        path: enableWebhook
        x-descriptors:
        - 'urn:alm:descriptor:com.tectonic.ui:text'
      - description: Appends the text to the image tag when it deploys cert-manager
        displayName: ImagePostFix
        path: imagePostFix
        x-descriptors:
        - 'urn:alm:descriptor:com.tectonic.ui:text'
      - description: Sets the image registry to this when deploying cert-manager
        displayName: ImageRegistry
        path: imageRegistry
        x-descriptors:
        - 'urn:alm:descriptor:com.tectonic.ui:text'
      - description: The namespace where namespace scoped resources referenced by cert-manager clusterissuers must be placed
        displayName: ResourceNamespace
        path: resourceNamespace
        x-descriptors:
        - 'urn:alm:descriptor:com.tectonic.ui:text'
      statusDescriptors:
      - description: The status of deploying cert-manager
        displayName: Status
        path: CertManagerStatus
        x-descriptors:
        - 'urn:alm:descriptor:com.tectonic.ui:podStatuses'
  description: Operator for managing deployment of cert-manager service.
  displayName: Ibm Cert Manager Operator
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - operator.ibm.com
          resources:
          - certmanagers
          verbs:
          - '*'
        - apiGroups:
          - ""
          resources:
          - pods
          - services
          - services/finalizers
          - endpoints
          - persistentvolumeclaims
          - events
          - configmaps
          - secrets
          - serviceaccounts
          - namespaces
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - apps
          resourceNames:
          - cert-manager-operator
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - replicasets
          - deployments
          verbs:
          - get
        - apiGroups:
          - operator.ibm.com
          resources:
          - '*'
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apiextensions.k8s.io
          resources:
          - customresourcedefinitions
          verbs:
          - '*'
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          - clusterrolebindings
          - roles
          - rolebindings
          verbs:
          - create
          - get
          - list
          - watch
          - patch
          - update
          - delete
        - apiGroups: 
          - apiregistration.k8s.io
          resources:
          - apiservices
          verbs:
          - create
          - get
          - list
          - watch
          - patch
          - update
          - delete
        - apiGroups: 
          - admissionregistration.k8s.io
          resources:
          - mutatingwebhookconfigurations
          - validatingwebhookconfigurations
          verbs:
          - create
          - get
          - list
          - watch
          - patch
          - update
          - delete
        - apiGroups:
          - certmanager.k8s.io
          resources:
          - certificates
          - certificaterequests
          - orders
          - challenges
          - clusterissuers
          - issuers
          verbs:
          - '*'
        - apiGroups:
          - certmanager.k8s.io
          resources:
          - certificates/status
          - certificaterequests/status
          - challenges/status
          - orders/status
          - issuers/status
          - clusterissuers/status
          - certificates/finalizers
          - challenges/finalizers
          - ingresses/finalizers
          - orders/finalizers
          verbs:
          - update
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        - apiGroups:
          - ""
          resources:
          - pods
          - services
          verbs:
          - get
          - list
          - watch
          - create
          - delete
        - apiGroups:
          - extensions
          resources:
          - ingresses
          verbs:
          - get
          - list
          - watch
          - create
          - delete
          - update
        - apiGroups:
          - apps
          resources:
          - deployments
          - statefulsets
          - daemonsets
          verbs:
          - '*'
        - apiGroups:
          - route.openshift.io
          resources:
          - routes/custom-host
          verbs:
          - create
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - create
          - update
          - patch
        - apiGroups:
          - admission.certmanager.k8s.io
          resources:
          - certificates
          - clusterissuers
          - issuers
          - certificaterequests
          verbs:
          - '*'
        - apiGroups:
          - security.openshift.io
          resourceNames:
          - restricted
          - hostnetwork
          resources:
          - securitycontextconstraints
          verbs:
          - use
        - apiGroups:
          - admissionregistration.k8s.io
          resources:
          - mutatingwebhookconfigurations
          - validatingwebhookconfigurations
          verbs:
          - '*'
        - apiGroups:
          - apiregistration.k8s.io
          resources:
          - apiservices
          verbs:
          - '*'
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - '*'
        serviceAccountName: ibm-cert-manager-operator
      deployments:
      - name: ibm-cert-manager-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: ibm-cert-manager-operator
          strategy: {}
          template:
            metadata:
              labels:
                name: ibm-cert-manager-operator
            spec:
              containers:
              - args:
                - --zap-level=1
                command:
                - ibm-cert-manager-operator
                env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: ibm-cert-manager-operator
                image: quay.io/opencloudio/ibm-cert-manager-operator
                imagePullPolicy: Always
                name: ibm-cert-manager-operator
                resources: {}
              serviceAccountName: ibm-cert-manager-operator
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  maturity: alpha
  provider:
    name: IBM
  replaces: ibm-cert-manager-operator.v0.0.0
  version: 3.5.0
