apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-cert-manager-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-cert-manager-operator
  template:
    metadata:
      labels:
        name: ibm-cert-manager-operator
    spec:
      serviceAccountName: ibm-cert-manager-operator
      containers:
        - name: ibm-cert-manager-operator
<<<<<<< HEAD
          image: quay.io/opencloudio/ibm-cert-manager-operator-amd64:617388e0-dirty
=======
          image: quay.io/opencloudio/ibm-cert-manager-operator:latest
>>>>>>> master
          command:
          - ibm-cert-manager-operator
          args:
          - --zap-level=1
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-cert-manager-operator"
